#search
  %link{:href => "https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css", :rel => "stylesheet"}
  %script{:src => "https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"}
  = form_tag pull_scrape_path, method: :post, class: 'navbar-form', role: 'search' do
    %div{align: 'center'}
      %input{:checked => "checked", "data-off" => "Fetch Next Page", "data-offstyle" => "info", "data-on" => "Fetch Latest", "data-onstyle" => "primary", "data-toggle" => "toggle", :type => "checkbox", 'data-width' => 200, name: 'latest', id: 'latest'}
    %br
    %br
    .input-group
      = text_field_tag :query, params[:query], size: 150, placeholder: "Search", class: "form-control"
      .input-group-btn
        = button_tag(type: "submit", class: "btn btn-default") do
          %i.glyphicon.glyphicon-search